@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

.header {
    background-image: url("../img/header.png");
    height: 860px;
}

.navmenu {

    display: flex;
    justify-content: space-between;
    padding: 4vw 6vw
}

.navmenu button {
    padding: 8px 20px;
    color: white;
    background-color: #00AEFF;
    font-family: 'Lato', sans-serif;
    border: none;
}

.header_caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%)
}

.header_caption h1 {
    color: #084482;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 1.5;
}

.header_caption p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #333333;
    opacity: 0.7;
}

.header_caption button {
    padding: 8px 20px;
    color: white;
    background-color: #00AEFF;
    font-family: 'Lato', sans-serif;
    border: none;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 4px;
}

.find_out_more {
    padding: 0 90px;
    height: 302px;
    background-color: #00aeff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    font-weight: bold;
    font-size: 57px;
    line-height: 68px;
    color: #FFFFFF
}

.find_out_more button {
    background: #fFFFFF;
    border-radius: 4px;
    margin: ;
    width: 281px;
    height: 52px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    color: #00AEFF;
}

find_more_btn_box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_us {
    padding: 0 97PX;
    position: relative;
    height: 670px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.about_us:before {
    position: absolute;
    bottom: 100%;
    left: 20%;
    width: 70px;
    height: 70px;
    border-top: 0px solid #7E8085;
    border-bottom: 0px solid #7E8085;
    border-left: 0px solid #7E8085;
    border-right: 0px solid #7E8085;
    background-color: #fff;
    content: "";
    transform: rotate(45deg);
    margin-bottom: -35px;
}

.about_us P {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -1px;
    color: #54565A;
}

.about_us h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 46px;
    letter-spacing: -1px;
    color: #084482;
}

.our_services {
    height: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service_head {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #7E8085;
}

.service_subhead {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    text-align: center;

    color: #084482;
}

.service_box {
    margin: 74px 180px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services_bullet {
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #54565A;
}

.bullet_heading {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #084482;
}

.testimony {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.testimony_badge {
    display: flex;
    align-items: center;
    background-image: url("../img/background.png");
    height: 179.98px;
    margin: 0 97px;
    padding: 20px 100px;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.testimony_title {
    margin-top: 40px 0;
    padding-top: 150px;
}

.testimony_avatar {
    width: 100px !important;
    height: 100px;
    border-radius: 50%;
    position: relative;
    top: -50px;
    background: #fff;
}

.avatar_caption p {
    
    margin-top: -50px;
    font-weight: 600;
}

.avatar_caption p:nth-child(1) {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #2B2A2C;
}

.avatar_caption p:nth-child(2) {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #6A696B;
    margin-top: -10px;
}

.subscribe {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 302px;
    padding: 100px 100px;
    background-color: #00AEFF;
}

.subscribe_text {
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 60px;

}

.subscribe input[type=text] {
    width: 60%;
    border: 0;
    border-radius: 5px 0 0 5px;
    height: 50px;
    padding: 15px;
    font-weight: 500;
}

.subscribe button {
    width: 100%;
    background: #fff;
    border: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #00AEFF;
    display: flex;
    justify-content: center;
}

.subscribe button:hover {
    background-color: #00AEFF;
    color: #fff;
    border: 1px solid #fff;
}

.subscribe input::placeholder {
    font-size: 15px;
    color: #ccc;
}

.contact_us {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 430px;
    padding: 0 97px;
    font-size: 18px;
    line-height: 24px;
    color: #3F3D56;

}

.contact_us button {
    padding: 8px 20px;
    color: white;
    background-color: #00AEFF;
    font-family: 'Lato', sans-serif;
    border: none;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 4px;
}

.footer {
    background-color: #788996;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
    padding: 0 97px;
}

/*media responsiveness*/
/**/
/**/
@media only screen and (max-width: 750px) {
    .find_out_more {
        text-align: center;
        font-size: 30px;
    }

    .find_out_more button {
        width: 150px;
        height: 40px;
        border: none;
        font-size: 15px;
        font-weight: 700;
        line-height: 25px;
        color: #00AEFF;
    }

    .about_us {
        padding: 50px 97PX;
        position: relative;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center
    }

    .about_us:before {
        width: 50px;
        height: 50px;
    }

    .about_us P {
        font-size: 18px;
    }

    .about_us h3 {
        font-size: 30px;
    }

    .about_us img {
        width: 100%
    }

    .our_services {
        padding: 80px 5px;
        height: auto;
    }


    .service_subhead {
        font-size: 25px;
        margin: 0 30px;
    }

    .service_box {
        margin: 30px 70px 0 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .service_img {
        width: 100%;
    }

    .service_bullet_box {
        margin-top: 40px;
    }

    .services_bullet {
        margin-left: 0;
    }

    .testimony {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.testimony_badge {
    height: auto;
    
    margin: 5px 40px;
    padding: 20px 10px 40px 10px;
    color: #fff;
    font-size: 15px;
    
}

.testimony_title {
    margin: 40px 0 ;
    padding-top: 1px;
}


.avatar_caption p {
    
    font-weight: 600;
    margin-top: -50px;
}

.subscribe {
    text-align: center;
    height: auto;
    padding: 100px 30px;
    background-color: #00AEFF;
}

.subscribe_text {
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
}

.subscribe input[type=text] {
    width: 100px;
}

.subscribe button {
    width: 100px;
    font-size: 13px;
    border-left: 2px solid #ccc;
    
}


.subscribe input::placeholder {
    font-size: 14px;
}

.contact_us {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 400px;
}


.footer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    height: 96px;
    padding: 15px 20px;
}

}
